/TwitterEngine/bin/*
/TwitterEngine/obj/*
/TwitterEngine/ServerLogs/En*
/TwitterEngine/BClient.fsx
/TwitterEngine/BServer.fsx
/twitter-client/bin/*
/twitter-client/obj/*
/twitter-client/UserLogs/cOne*
/twitter-client2/bin/*
/twitter-client2/obj/*
/twitter-client2/UserLogs/cTwo*


.fake
.ionide